In [2]:
#import libararies
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [29]:
#loading data from csvs
df= pd.read_csv('owid-covid-data.csv')
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
df.shape

(177381, 67)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 177381 entries, 0 to 177380
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    177381 non-null  object
 1   continent                                   166983 non-null  object
 2   location                                    177381 non-null  object
 3   date                                        177381 non-null  object
 4   total_cases                                 171045 non-null  float64
 5   new_cases                                   170884 non-null  float64
 6   new_cases_smoothed                          169715 non-null  float64
 7   total_deaths                                152933 non-null  float64
 8   new_deaths                                  152953 non-null  float64
 9   new_deaths_smoothed                         151806 non-null  float64
 10  total_cases_per_million                     170253 non-null  float64
 11  new_cases_per_million                       170092 non-null  float64
 12  new_cases_smoothed_per_million              168928 non-null  float64
 13  total_deaths_per_million                    152154 non-null  float64
 14  new_deaths_per_million                      152174 non-null  float64
 15  new_deaths_smoothed_per_million             151032 non-null  float64
 16  reproduction_rate                           132482 non-null  float64
 17  icu_patients                                24404 non-null   float64
 18  icu_patients_per_million                    24404 non-null   float64
 19  hosp_patients                               25152 non-null   float64
 20  hosp_patients_per_million                   25152 non-null   float64
 21  weekly_icu_admissions                       5768 non-null    float64
 22  weekly_icu_admissions_per_million           5768 non-null    float64
 23  weekly_hosp_admissions                      11498 non-null   float64
 24  weekly_hosp_admissions_per_million          11498 non-null   float64
 25  total_tests                                 74100 non-null   float64
 26  new_tests                                   71583 non-null   float64
 27  total_tests_per_thousand                    74100 non-null   float64
 28  new_tests_per_thousand                      71583 non-null   float64
 29  new_tests_smoothed                          92175 non-null   float64
 30  new_tests_smoothed_per_thousand             92175 non-null   float64
 31  positive_rate                               85758 non-null   float64
 32  tests_per_case                              84874 non-null   float64
 33  tests_units                                 94787 non-null   object
 34  total_vaccinations                          48181 non-null   float64
 35  people_vaccinated                           45810 non-null   float64
 36  people_fully_vaccinated                     43184 non-null   float64
 37  total_boosters                              20724 non-null   float64
 38  new_vaccinations                            39778 non-null   float64
 39  new_vaccinations_smoothed                   91849 non-null   float64
 40  total_vaccinations_per_hundred              48181 non-null   float64
 41  people_vaccinated_per_hundred               45810 non-null   float64
 42  people_fully_vaccinated_per_hundred         43184 non-null   float64
 43  total_boosters_per_hundred                  20724 non-null   float64
 44  new_vaccinations_smoothed_per_million       91849 non-null   float64
 45  new_people_vaccinated_smoothed              90960 non-null   float64
 46  new_people_vaccinated_smoothed_per_hundred  90960 non-null   float64
 47  stringency_index                            0 non-null       float64
 48  population                                  176272 non-null  float64
 49  population_density                          158007 non-null  float64
 50  median_age                                  146553 non-null  float64
 51  aged_65_older                               144991 non-null  float64
 52  aged_70_older                               145780 non-null  float64
 53  gdp_per_capita                              146036 non-null  float64
 54  extreme_poverty                             95460 non-null   float64
 55  cardiovasc_death_rate                       146250 non-null  float64
 56  diabetes_prevalence                         153213 non-null  float64
 57  female_smokers                              111071 non-null  float64
 58  male_smokers                                109548 non-null  float64
 59  handwashing_facilities                      71975 non-null   float64
 60  hospital_beds_per_thousand                  129682 non-null  float64
 61  life_expectancy                             165830 non-null  float64
 62  human_development_index                     142855 non-null  float64
 63  excess_mortality_cumulative_absolute        6078 non-null    float64
 64  excess_mortality_cumulative                 6078 non-null    float64
 65  excess_mortality                            6078 non-null    float64
 66  excess_mortality_cumulative_per_million     6078 non-null    float64
dtypes: float64(62), object(5)
memory usage: 90.7+ MB

In [6]:
df['continent'].unique()

array(['Asia', nan, 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [30]:
df= df[df['continent']=='Asia']

In [8]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [9]:
df['continent'].unique()

array(['Asia'], dtype=object)

In [10]:
df.shape

(37834, 67)

In [11]:
df['location'].unique()

array(['Afghanistan', 'Armenia', 'Azerbaijan', 'Bahrain', 'Bangladesh',
       'Bhutan', 'Brunei', 'Cambodia', 'China', 'Georgia', 'Hong Kong',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Israel', 'Japan', 'Jordan',
       'Kazakhstan', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Lebanon', 'Macao',
       'Malaysia', 'Maldives', 'Mongolia', 'Myanmar', 'Nepal',
       'Northern Cyprus', 'Oman', 'Pakistan', 'Palestine', 'Philippines',
       'Qatar', 'Saudi Arabia', 'Singapore', 'South Korea', 'Sri Lanka',
       'Syria', 'Taiwan', 'Tajikistan', 'Thailand', 'Timor', 'Turkey',
       'Turkmenistan', 'United Arab Emirates', 'Uzbekistan', 'Vietnam',
       'Yemen'], dtype=object)

In [33]:
df.isnull().sum() / df.shape[0] *100

iso_code                                    0.000000
continent                                   0.000000
location                                    0.000000
date                                        0.000000
total_cases                                 1.480150
                                             ...
human_development_index                     5.125020
excess_mortality_cumulative_absolute       97.859069
excess_mortality_cumulative                97.859069
excess_mortality                           97.859069
excess_mortality_cumulative_per_million    97.859069
Length: 67, dtype: float64

In [16]:
df.columns

Index(['iso_code', 'continent', 'location', 'date', 'total_cases', 'new_cases',
       'new_cases_smoothed', 'total_deaths', 'new_deaths',
       'new_deaths_smoothed', 'total_cases_per_million',
       'new_cases_per_million', 'new_cases_smoothed_per_million',
       'total_deaths_per_million', 'new_deaths_per_million',
       'new_deaths_smoothed_per_million', 'reproduction_rate', 'icu_patients',
       'icu_patients_per_million', 'hosp_patients',
       'hosp_patients_per_million', 'weekly_icu_admissions',
       'weekly_icu_admissions_per_million', 'weekly_hosp_admissions',
       'weekly_hosp_admissions_per_million', 'total_tests', 'new_tests',
       'total_tests_per_thousand', 'new_tests_per_thousand',
       'new_tests_smoothed', 'new_tests_smoothed_per_thousand',
       'positive_rate', 'tests_per_case', 'tests_units', 'total_vaccinations',
       'people_vaccinated', 'people_fully_vaccinated', 'total_boosters',
       'new_vaccinations', 'new_vaccinations_smoothed',
       'total_vaccinations_per_hundred', 'people_vaccinated_per_hundred',
       'people_fully_vaccinated_per_hundred', 'total_boosters_per_hundred',
       'new_vaccinations_smoothed_per_million',
       'new_people_vaccinated_smoothed',
       'new_people_vaccinated_smoothed_per_hundred', 'stringency_index',
       'population', 'population_density', 'median_age', 'aged_65_older',
       'aged_70_older', 'gdp_per_capita', 'extreme_poverty',
       'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers',
       'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
       'life_expectancy', 'human_development_index',
       'excess_mortality_cumulative_absolute', 'excess_mortality_cumulative',
       'excess_mortality', 'excess_mortality_cumulative_per_million'],
      dtype='object')

In [34]:
df= df[['continent', 'location', 'date', 'total_cases','total_deaths','icu_patients','hosp_patients',
        'total_tests','people_vaccinated', 'people_fully_vaccinated','total_boosters','population', 'median_age', 'human_development_index']]

In [35]:
df.shape

(37834, 14)

In [37]:
df= df[df['location']=='Pakistan']
# df1= df[df['location']=='china']

In [38]:
df.shape

(774, 14)

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774 entries, 122484 to 123257
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   continent                774 non-null    object
 1   location                 774 non-null    object
 2   date                     774 non-null    object
 3   total_cases              774 non-null    float64
 4   total_deaths             752 non-null    float64
 5   icu_patients             0 non-null      float64
 6   hosp_patients            0 non-null      float64
 7   total_tests              661 non-null    float64
 8   people_vaccinated        168 non-null    float64
 9   people_fully_vaccinated  136 non-null    float64
 10  total_boosters           23 non-null     float64
 11  population               774 non-null    float64
 12  median_age               774 non-null    float64
 13  human_development_index  774 non-null    float64
dtypes: float64(11), object(3)
memory usage: 90.7+ KB

In [41]:
df.isnull().sum() / df.shape[0] *100

continent                    0.000000
location                     0.000000
date                         0.000000
total_cases                  0.000000
total_deaths                 2.842377
icu_patients               100.000000
hosp_patients              100.000000
total_tests                 14.599483
people_vaccinated           78.294574
people_fully_vaccinated     82.428941
total_boosters              97.028424
population                   0.000000
median_age                   0.000000
human_development_index      0.000000
dtype: float64

In [43]:
df= df.drop(columns=['icu_patients','hosp_patients','people_vaccinated','people_fully_vaccinated','total_boosters'])

In [44]:
df.isnull().sum() / df.shape[0] *100

continent                   0.000000
location                    0.000000
date                        0.000000
total_cases                 0.000000
total_deaths                2.842377
total_tests                14.599483
population                  0.000000
median_age                  0.000000
human_development_index     0.000000
dtype: float64

In [45]:
#Finding the mean of the column having NaN
mean_value=df['total_tests'].mean()
  
# Replace NaNs with mean of values in the same column
df['total_tests'].fillna(value=mean_value, inplace=True)

In [46]:
df.isnull().sum() / df.shape[0] *100

continent                  0.000000
location                   0.000000
date                       0.000000
total_cases                0.000000
total_deaths               2.842377
total_tests                0.000000
population                 0.000000
median_age                 0.000000
human_development_index    0.000000
dtype: float64

In [47]:
#Finding the mean of the column having NaN
mean_value=df['total_deaths'].mean()
  
# Replace NaNs with mean of values in the same column
df['total_deaths'].fillna(value=mean_value, inplace=True)

In [48]:
df.isnull().sum() / df.shape[0] *100

continent                  0.0
location                   0.0
date                       0.0
total_cases                0.0
total_deaths               0.0
total_tests                0.0
population                 0.0
median_age                 0.0
human_development_index    0.0
dtype: float64

In [49]:
df.head()

,continent,location,date,total_cases,total_deaths,total_tests,population,median_age,human_development_index
122484,Asia,Pakistan,2020-02-25,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122485,Asia,Pakistan,2020-02-26,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122486,Asia,Pakistan,2020-02-27,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122487,Asia,Pakistan,2020-02-28,4.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122488,Asia,Pakistan,2020-02-29,4.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557

In [50]:
# Type casting 
# convert time into datetime objects
from datetime import date, datetime
df['date'] = pd.to_datetime(df['date'])

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774 entries, 122484 to 123257
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   continent                774 non-null    object
 1   location                 774 non-null    object
 2   date                     774 non-null    datetime64[ns]
 3   total_cases              774 non-null    float64
 4   total_deaths             774 non-null    float64
 5   total_tests              774 non-null    float64
 6   population               774 non-null    float64
 7   median_age               774 non-null    float64
 8   human_development_index  774 non-null    float64
dtypes: datetime64[ns](1), float64(6), object(2)
memory usage: 60.5+ KB

In [52]:
#convert to string
df[["location", "continent"]] =df[["location", "continent"]].astype('str').astype("string")

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 774 entries, 122484 to 123257
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   continent                774 non-null    string
 1   location                 774 non-null    string
 2   date                     774 non-null    datetime64[ns]
 3   total_cases              774 non-null    float64
 4   total_deaths             774 non-null    float64
 5   total_tests              774 non-null    float64
 6   population               774 non-null    float64
 7   median_age               774 non-null    float64
 8   human_development_index  774 non-null    float64
dtypes: datetime64[ns](1), float64(6), string(2)
memory usage: 60.5 KB

In [55]:
df['location'].unique()

<StringArray>
['Pakistan']
Length: 1, dtype: string

In [56]:
df= df.drop(columns=["location", "continent"])

In [57]:
df.head()

,date,total_cases,total_deaths,total_tests,population,median_age,human_development_index
122484,2020-02-25,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122485,2020-02-26,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122486,2020-02-27,2.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122487,2020-02-28,4.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557
122488,2020-02-29,4.0,16034.542553,1.023301e+07,225199929.0,23.5,0.557

In [58]:
df['population'].unique()

array([2.25199929e+08])

In [59]:
df= df.drop(columns=['population'])

In [60]:
df['median_age'].unique()

array([23.5])

In [61]:
df= df.drop(columns=['median_age'])

In [62]:
df['human_development_index'].unique()

array([0.557])

In [63]:
df= df.drop(columns=['human_development_index'])

In [64]:
df.head()

             date  total_cases  total_deaths   total_tests
122484 2020-02-25          2.0  16034.542553  1.023301e+07
122485 2020-02-26          2.0  16034.542553  1.023301e+07
122486 2020-02-27          2.0  16034.542553  1.023301e+07
122487 2020-02-28          4.0  16034.542553  1.023301e+07
122488 2020-02-29          4.0  16034.542553  1.023301e+07

In [67]:
dtypes(df['total_cases'])

NameError: name 'dtypes' is not defined